extends layout 

block content 
    h1 #{title}: #{bookinstance.book.title}

    if bookinstance.status === 'Reserved'
        p #[strong Are you sure to delete this copy?]

        form(action="" method="post") 
            .form-group 
                input#bookinstanceid.form-control(type="hidden", name="bookinstanceid", 
                required='true', value= bookinstance._id)
            button.btn.btn-primary(type="submit") Delete
    else 
        p #[strong This copy cannot be deleted]    
